apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    name: rest-api
  name: rest-api
spec:
  progressDeadlineSeconds: 2147483647
  replicas: 3
  selector:
    matchLabels:
      app: rest-api
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: rest-api
    spec:
      containers:
        - env:
          image: itsron143/rest-api:latest
          imagePullPolicy: Always
          name: rest-api
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          command: ["python"]
          args: ["app.py"]
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
