.DS_Store
.flaskenv
*.pyc
*.pyo
venv/
.venv/
.env
**/bin/
**/include/
**/lib/
**/var/
**/tutorials/
**/__pycache__
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
**/pyvenv.cfg
**/Icon
rest-api/migrations/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
